<div>
  <label for ="name">Enter your name</label>
  <input type="text" [(ngModel)]="username" name="name">

  <br>
  <label for ="email">Enter your email</label>
  <input type="email" [(ngModel)]="useremail" name="email">
  <br>
  <label for="address">Enter your address</label>
  <input type="text" [(ngModel)]="useraddress" name="address">

  <button (click) ="addnew()">Add now</button>

  <ul>

  <div *ngFor="let person of objArray ; let i=index">
    <li>{{person.name}} --- {{person.email}}---{{person.address}}

      <button (click)="delete(i)">Delete</button>
    </li>
  </div>

  </ul>
</div>